<p>Adding links</p>
<br>
<form action="/links" method="POST">
  Name: <input type=text name=Name>
  URL: <input type=text name=URL>
  Tag: <input type='text' name='Tag'>
  <input type="submit" value='Submit'>
</form>
