<p>Links</p>
<br>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Name: <%= link.name %>
      URL: <%= link.url %>
    </li>
  <% end %>
</ul>
<br>
<form action="/adding_links">
  <input type="submit" value="Add Link">
</form>
