<h3>Welcome <%= current_user.email if current_user%></h3>
<p>Links</p>
<br>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Name: <%= link.name %>
      URL: <%= link.url %>
      Tags: <%= link.tags.map {|tag| tag.category } %>
    </li>
  <% end %>
</ul>
<br>
<form action="/adding_links">
  <input type="submit" value="Add Link">
</form>

<form action='/signout' method='post'>
  <input type='submit' name="_method" value="delete" id='logout'>
</form>
